.users-view {
	.header {
		background-color: #ffffff;
		padding: 24px 0;
		z-index: 2;
	}

	.user-box {
		cursor: pointer;
		margin-bottom: 20px;
		text-align: center;
	
		.login {
			&:hover {
				color: #999999;
			}
		}
	
		.avatar-box {
			.avatar {
				border-radius: 2px;
				box-shadow: 6px 6px 6px #aaaaaa;
				width: 100%;
			}
		}
	}

	.scene {
		perspective: 600px;

		.card-panel {
			height: 370px;
			margin-bottom: 20px;
			position: relative;
			transform-style: preserve-3d;
			transition-duration: 1s;
			transition-property: transform;
			width: 100%;

			&.is-flipped {
				transform: rotateY(180deg);
			}

			.card {
				backface-visibility: hidden;
				border-radius: 4px;
				box-shadow: 6px 6px 6px #aaaaaa;
				height: 100%;
				position: absolute;
				width: 100%;

				&.back {
					background-color: beige;
					overflow: auto;
					transform: rotateY(180deg);
				}
		
				.card-img-top {
					border-radius: 4px 4px 0 0;
					height: 260px;;
				}

				.card-img-overlay {
					height: 40px;
					padding: 5px;
				}
		
				.card-body {
					.gh-link {
						font-size: 1rem;
						text-decoration: none;
					}

					.card-text {
						font-size: 80%;
						margin-top: 8px;
					}
				}

				.card-footer {
					display: grid;
					grid-auto-flow: column;
					margin-bottom: 0;

					.icon {
						color: #5858c1;
						cursor: pointer;
						justify-self: start;
					}

					.user-id {
						justify-self: end;
						cursor: default;
					}
				}
			}
		}
	}

	.modal {
		user-repos {
			repo-list-item {
				.top-container {
					padding: 0;

					.last-commit {
						font-size: 12px;
					}

					.collapse-trigger {
						font-size: 12px;
					}

					.description {
						font-size: 12px;
					}
				}

				.repo-details {
					font-size: 0.8rem;
					padding-top: 8px;

					.row {
						padding: 4px 0;

						.value {
							&.contributors {
								a {
									text-decoration: none;
								}
							}

							&.languages {
								.progress:not(:first-of-type) {
									margin-top: 4px;
								}
							}
						}
					}
				}

				.gh-link {
					font-size: .8rem;
					text-decoration: none;
				}
			}
		}
	}
	
	.selected-user {
		.avatar-box {
			.avatar {
				box-shadow: 6px 6px 6px #aaaaaa;
				width: 100%;
			}
		}
	}
}
